$sp: 8px;

$color-gray-4: #BDBDBD;
$color-gray-9: #212121;

$color-blue-05: #E3F2FD;
$color-blue-1: #BBDEFB;
$color-blue-2: #90CAF9;
$color-blue-5: #2196F3;
$color-blue-6: #1E88E5;
$color-blue-7: #1976D2;