@import '../../shared/styles/variables';

form {
    display: flex;
}

.form-control {
    margin: 0 4px;

    &:focus {
        box-shadow: rgba($color-blue-7, 0.2) 0px 2px 8px 0px;
        outline: none;
    }
}

.button {
    display: block;

    padding: 0 16px;
    border-radius: 4px;

    background: none;
    color: $color-blue-5;
    border: 1px solid $color-blue-1;
    
    transition: background-color .1s ease;
    cursor: pointer;

    font-size: 14px;
    line-height: 36px;

    &:active {
        background: $color-blue-1;
        border-color: $color-blue-2;
        color: $color-blue-7;

        outline: none;
        box-shadow: none;
    }

    &--fill {
        background: $color-blue-6;
        border-color: $color-blue-6;
        color: white;

        &:active {
            background: $color-blue-7;
            border-color: $color-blue-7;
        }
    }
}

.import-button {
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    input {
        display: none;
    }
}

.text-input {
    border-radius: 4px;
    border: 1px solid  $color-blue-1;

    padding: 0 8px;

    color: $color-gray-9;

    &::placeholder {
        color: $color-gray-4;
    }

    &:focus {
        outline: none;
    }
}